html, body {
    margin: 0;
    overflow-x: clip;
    /* overflow-y: clip; */
}

div {
    display: flex;
    flex-direction: column;
}

.bar {
    flex-direction: row;
}

#content.container {
    width: 100vw;
    height: 100vh;
    /* overflow-y: hidden; */
}

#banner.bar {

    /* background-color: yellow; */
    /* background-color: #fff2fb; */
    color: rgb(200, 200, 200);
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: end;
    border-width: 2px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.462);
}

#popup.bar {
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    /* background-color: blue; */
    height: fit-content;
    width: 70vw;
    justify-content: center;
    align-items: start;
}

.category {
    color: rgb(127, 121, 121);
    background-color: rgb(198, 193, 203);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-right: 1%;
    margin-left: 1%;
    font-size:140%;
    /* height: 40px; */
    justify-content: end;
    transition: padding 0.2s ease-in-out;
    /* z-index: 5; */
}

.category:hover {
    padding-top: 20px;
}

#map.container {
    /* background-color: blue; */
    height: 406px;
    margin-top: 20px;
    min-height: 500px;
    /* transform: translate(40px, 100px); */
    /* transition: transform 0.25s ease-in-out; */
}

#kingdoms.bar {
    background-color: yellow;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.mainBall img {
    /* background-color: green; */
    border-radius: 100px;
    text-align: center;
    font-size: 0.8em;
    margin: 5px;
}
.ball {
    /* background-color: green; */
    /* border-radius: 100px; */
    /* text-align: center;
    font-size: 0.8em; */
    margin: 2vw;
}

.ball img {
    filter: grayscale();
    /* border: grey; */
    border-width: 70px;
    border-radius: 100px;
}
#god {
    background-color: green;
}
#foot.bar {
    height: fit-content;
    background-color: #fff6fd;
    flex-direction:column;
    align-items: center;
    margin-top: auto;
    padding: 5px;
    box-shadow: inset 0px 14px 13px -15px rgba(0, 0, 0, 0.462);
}

.socials {
    color: rgb(127, 121, 121);
    transition: opacity 0.25s ease-in-out;
    margin: 5px;
    font-size: 0.9em;
}
.socials:hover {
    opacity: 40%;
}

#author{
    color: rgba(0, 0, 0, 0.193);
    position: absolute;
    width: fit-content;
    margin: auto;
    bottom: -15vh;
}

@media screen and (min-width: 769px){
    #foot.bar {flex-direction: row;}
    #author {right: 1vw;}
}